@media  screen and (max-width: 475px) {
     body {
        width: 100vw;
        overflow-x: hidden;
    }
    
    .wiki {
        width: 120px;
        margin-left: 90px;
    }
    .wikip {
        position: relative;
        left: 95px;
    } 
    fieldset {
       position: relative; 
       top: -120px;
       left: -370px;
    }
    fieldset input {
        width: 270px;
        /* border: none; */
    }
    fieldset button {
        position: absolute;
        /* top: -100px; */
        left: 272px;
    }
    .blue {
        position: relative;
        top: -34px;
    }
    span {
        font-weight: 900;
    }
    .firsttwo img {
        width: 5px;
        position: relative;
        left: -20px;
        top: -15px;
    }
    .select {
        position: absolute;
        left: 190px;
        top: 10px;
    }
    .globe img {
        position: relative;
        left: -460px;
        top: -135px;
        width: 40px;
    }
    .global {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        position: absolute;
        left: 10px;
        top: 150px;
    }
    .one {
        position: relative;
        top: -30px;
        left: 13px;
    }
    .two {
        position: relative;
        top: 200px;
        left: -120px;
        z-index: 1;
    }
    .three {
        position: relative;
        top: 30px;
        left: -120px;
    }
    .four {
        position: relative;
        top: 10px;
        left: 10px;
    }
    .Read img {
        position: relative;
        left: -10px;
        top: 5px;
    }
    .Read {
        position: relative;
        left: -440px;
        top: 130px;
    }
    .five {
        position: relative;
        top: 130px;
        left: 30px;
    }
    .six {
        position: relative;
        top: -106px;
        left: -120px;
    }
    .seven {
        position: relative;
        top: -120px;
        left: 10px;
    }
    .eight {
        position: relative;
        top: -60px;
        left: 20px;
    }
    .no {
        display: none;
    }
    .nine {
        position: relative;
        top: -10px;
        left: -110px;
    }
    .ten {
        position: relative;
        top: -90px;
        left: 10px;
    }
    .firstone {
        position: relative;
        left: -50px;
        top: 60px;
        display: flex;
        flex-direction: column;
    }
    .firstone img {
        margin: 10px 20px 20px 20px ;
        position: relative;
        left: 70px;
    }
    .firstone p {
        margin: 5px;
        text-align: justify;
    }
    .grid, .grid1 {
        display: flex;
        flex-direction: column;
    }
    .grid {
        position: relative;
        left: -460px;
        top: 250px;
    }
    .grid1 {
        position: relative;
        left: -380px;
        top: 250px;
    }
    .grid2 {
        position: relative;
        left: -1000px;
        top: 550px;
    }
    .firsttwo {
        position: relative;
        top: 750px;
    }
    .google {
        position: relative;
        top: 700px;
    }
    .last {
        position: relative;
        top: 700px;
    }
}